{% extends 'accounts/blank.html' %}


    {% block title %}
    Pinterest
    {% endblock %}



         {% load crispy_forms_tags %}
            {% block Content %}
 <div class="forming-container">
         <form method="post">

              {% csrf_token %}



        <div class="mb-3">
        <input type="email" class="form-control btn-radius" id="exampleFormControlInput1" placeholder="email" {{form.email}}
        </div>

             <div class="mb-3">
        <input type="password" class="form-control btn-radius" id="exampleFormControlInput2" placeholder="create a password"{{form.password1}}

        </div>

<div class="mb-3">
  <input type="text" class="form-control btn-radius" id="exampleFormControlInput3" placeholder="Age" {{form.Age}}

</div>

<input class="btn d-block bg-red btn-radius text-white" type="submit" value="Continue" >
             </form>

     </div>
     <h4>OR</h4>
     <div class="social-sign d-flex mb-3">
      <i class="fab fa-facebook text-white mr-2 ml-2"></i>
      <a href="www.facebook.com" class="text-white"> Continue with facebook</a>
     </div>
     <div class="google-sign d-flex">
      <img src="https://res.cloudinary.com/www-daniekeys-com/image/upload/v1625758543/google-img-removebg-preview_qm4mgu.png" alt="" class="g-img">
      <a href="www.google.com" class="text-dark"> Continue with google</a>
     </div>
     <div class="agreement">
      <p class="text-faded text-center text-reduce">
       By continuing, you agree to Pinterest's Terms of Service and acknowledge that you've read our Privacy Policy
      </p>
<div class="d-flex bold justify-content-center">

 <p class="text-dark ">
 <a href="/login" class="text-dark">Already have an account? Log in</a></p>
</div>
     </div>
</div>

 {% endblock %}